<div class="container" style="text-align: center">
  <h1>Welcome <%= @user.name %></h1>
  <p>Email: <%= @user.email %></p>
  <h2>Gallery</h2>
</div>

<div class="row">
  <% @user.images.each do |image| %>
    <div class="col-sm-6 col-md-4">
      <a href="/images/<%=image.id%>" class="thumbnail">
        <img src="<%=image.url%>" alt="...">
      </a>
      <div class="caption">
        <h3><%=image.title%></h3>
        <% unless image.user.id == current_user.id %>
          <p>Upvotes: <%=image.upvotes%> <%= link_to "", upvotes_path(:id => image.id), class: "glyphicon glyphicon-circle-arrow-up" %></p>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
