<h2><%= @image.title%>
<p>
  <%= image_tag @image.url, width: 200 %>
</p>
<p>User:<%= @image.user.name%></p>
<% if @image.user.id == current_user.id %>
  <p>
    <%= link_to "Edit", edit_image_path(@image) %>
    <%= link_to "Delete", delete_image_path%>
  </p>
<% end %>
