<!DOCTYPE html>
<html>
<head>
  <title>ImgCloudApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <% if current_user %>
          <a class="navbar-brand" href="/images">IMG</a>
          <%= link_to "You", user_path(current_user), class: "btn btn-default navbar-btn" %>
          <%= link_to 'Log out', session_path(session), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-default navbar-btn" %>

        <% else %>
          <a class="navbar-brand" href="/images">IMG</a>
          <%= link_to 'Log in', login_path, class:"btn btn-default navbar-btn" %>
          <p class="navbar-text navbar-right"><a href="/users/new" class="navbar-link">Sign Up!</a></p>
        <% end %>

      </div>
    </div>
  </div>
<div class="jumbotron" style="text-align: center">
<%= yield %>
</div>

</body>
</html>
